@charset "UTF-8";

* { box-sizing:border-box }
:after { box-sizing:border-box }
:before { box-sizing:border-box }

body {
	font-size: 14px;
	font-family: 'ＭＳ Ｐゴシック';
	color: #333;
}
.contents {
	line-height: 20px;
}
table{
	border-collapse: collapse;
}
table th{
	background-color: #3482b4;
	color: #FFF;
	border: 6px solid #3482b4;
	padding: 8px 4px;
	width: 110px;
	text-align: center;
}
table td {
	background-color: #faf5f0;
  border: 6px solid #3482b4;
  padding: 8px;
  text-align: left;
}
